#healthCare{
    /* border: 1px solid red; */
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5,20%);
    grid-gap: 25px;
    background-color: rgb(246,246,246);
    font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* contain both header and image */

#smallbox1{
    /* border: 1px solid green; */
    text-align: center;
    margin: auto;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.smallbox1{
    /* border: 1px solid teal; */
    width: 96%;
    height: 40px;
    margin: auto;
}
.smallbox2{
 /* border: 1px solid purple; */
 display: grid;
 grid-template-rows: 210px;
 grid-template-columns: repeat(7,13%); 
 text-align: center;
 justify-content: space-around;
 box-shadow: 0 0 7px 0 rgb(0 0 0 / 14%);
 background: #fff;
 margin-top: 1%;
 font-size: 14px;
}
.smallbox3:hover{
    /* border: 1px solid pink; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 4%;
}
img{
    padding-top: 15%;
    height: 55%;
    width: 65%;
    background-size: contain;
}
button{
    background-color:salmon;
    color: white;
    font-size: 11px;
    border: none;
    padding: 8px 8px ;
    border-radius: 5px;
    font-weight: bolder;
}


